:root {
  --color-fondo: #fce4ec;
  --color-rojo1: #ec407a;
  --color-rojo2: #f06292;
  --color-sombra: #c2185b;

  --bg-gradient: linear-gradient(
    75deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
}
